<div id="sidebar">
  <header>
    <div class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img id="pret_image_avatar" src="{{ site.baseurl }}{{ site.author.avatar }}" alt="" />
      </a>
    </div>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-icon-links.html %}

  {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
  {% for yearMonth in postsByYearMonth %}
    <title id="pret_title_archive">{{ yearMonth.name }}</title>
      <ul id="pret_archive_ul">
        {% for post in yearMonth.items %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}
</div>